<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="/Faker">faker</a>
            <br/>
            <a href="/Home">home view</a> 
            <br/>
            <a href="/CuaHang">cua hang</a> 
            <br/>
            <a href="/Ddh">don dat hang</a> 
            <br/>
            <a href="/KhachHang">khach hang</a> 
            <br/>
            <a href="/Khbd">khach hang buu dien</a> 
            <br/>
            <a href="/Khdl">khach hang du lich</a> 
            <br/>
            <a href="/MatHang">mat hang</a> 
            <br/>
            <a href="/Mhdd">mat hang duoc dat</a> 
            <br/>
            <a href="/Mhdlt">mat hang duoc luu tru</a> 
            <br/>
            <a href="/Vpdd">van phong dai dien</a> 
            <br/>
        </div>
    </body>
</html>
